.completed {
    text-decoration: line-through;
}

.deadline-overdue {
    /* set to important to override bootstrap */
    background-color: red !important;
}

.error-message {
    color: red;
}

.remove-todo {
    color: red;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.todo-list {
    padding-top: 1rem;
}