<!doctype html>
<html lang="en" ng-app="todoApp" data-framework="typescript">
	<head>
		<meta charset="utf-8">
		<title>ToDo-App</title>
		<link rel="stylesheet" type="text/css" href="app.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
		<section ng-controller="todoController" class="main">
			<header>
				<h1>Todos</h1>
				<span ng-show="errorMessage" class="error-message">Todo Text too short min. 10 characters</span>
				<form class="todo-form" ng-submit="vm.addTodo()">
					<input class="new-todo-text" placeholder="New Todo" ng-model="newTodoText" autofocus>
					<input class="new-todo-deadline" type="date" ng-model="newTodoDate" placeholder="deadline">
					<input type="submit" value="Submit">
				</form>
			</header>
			<section ng-show="todos.length" ng-cloak class="todo-list">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="todo in todos track by $index" ng-class="vm.checkDate(todo.deadline)">
						<div>
							<input class="toggle" type="checkbox" ng-model="todo.completed">
							<span ng-class="{completed: todo.completed}">{{ todo.title }}</span>
							<button class="remove-todo" ng-click="vm.removeTodo(todo)">X</button>
						</div>
					</li>
				</ul>
			</section>
		</section>
		<script src="node_modules/angular/angular.js"></script>
		<script src="app/app.js"></script>
	</body>
</html>
